<!DOCTYPE html>
<html ng-app="bitcoinSecured">
	<head>
	<title>Bitcoin Secured 0.1: Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/zepto.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-0.2.0.js"></script>
	<script type="text/javascript" src="js/rfc1751.js"></script>
	<script type="text/javascript" src="js/bitcoinjs-min.js"></script>
	<script type="text/javascript" src="js/tx.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/qrcode.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
    <style>
      .hide {
        display: none;
      }
    </style>
</head>

<body>

  <div class="container">

    <div class="masthead">
      <h3>Bitcoin Secured v.0.1: Online</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
              <li><a href="#"><i class="icon-wrench"></i> Instructions</a></li>
              <li><a href="#"><i class="icon-hdd"></i> Downloads</a></li>
              <li><a href="#"><i class="icon-eye-open"></i> About</a></li>
              <li><a href="#"><i class="icon-pencil"></i> Contact</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.navbar -->
    </div>


    <div ng-controller="RegisterCtrl">

    <div id="step-nav">
      <ul class="pager">
        <li class="" ng-class="{disabled: !hasPreviousStep()}">
          <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Previous Step</a>
        </li>
        <li class="" ng-class="{disabled: !hasNextStep()}">
          <a href="javascript:void(0);" ng-click="incrementStep()">Next Step &rarr;</a>
        </li>
      </ul>
    </div>

    <div class="clearfix"></div>

      <div ng-switch on="selection">

        <div ng-switch-when="Enter Data">
          <div class="row-fluid" ng-controller="FormCtrl">
            <div class="span6">
              <form class="form-transaction" ng-submit="processForm()">
                <h3 class="form-transaction-heading">Transaction information</h3>
                <input ng-model="transaction.address" type="text" class="input-block-level" placeholder="Cold Storage Address" required>
                <input ng-model="transaction.recipient" type="text" class="input-block-level" placeholder="Recipient Address" required>
                <input ng-model="transaction.amount" type="text" class="input-block-level" placeholder="Amount in BTC" required>
                <input ng-model="transaction.fee" type="text" class="input-block-level" placeholder="Transaction Fee in BTC" required>
                <button class="btn btn-primary">Create Paste for Offline Signing!</button><br><br>
              <button class="btn" ng-click="clearAll($event)">Clear all</button>

              </form>
            </div><!-- /span -->
            <div class="span6">
              <div id="raw-transaction">
                <h3>Text to Paste</h3>
                <p>Copy this text, transfer it to the offline computer, and paste it in the offline page of Bitcoin Secured (offline.html). When you're done, click "next step" (above).</p>
                <textarea ng-model="paste" readonly>{{rawtx}}</textarea>
                <div id="qr-button"><button type="button" class="btn {{buttonState.qrcodestate}}" ng-click="showQr()">Show QR Code <i class="icon-qrcode"></i></div>
              </div>
            </div>
        </div><!-- /formCtrl -->
      </div>

      <div ng-switch-when="Enter Paste">
        <div class="row-fluid" ng-controller="SubmitCtrl">
          <div class="span6">
            <form class="form-transaction" ng-submit="submitTx()">
              <h3 class="form-transaction-heading">Submit Transaction</h3>
              <p>This is where you submit the signed transaction text that was generated by the offline signing portion of this application.  Please paste or scan the QR code into the space provided below, and press submit when you're done.  This will broad cast your transaction to the bitcoin network.</p> <p><strong>WARNING: All transactions are final, so only submit the transaction if you are sure you used the correct address and amount.</strong></p>
              <textarea ng-model="rawpaste" readonly></textarea>
                <button class="btn btn-primary" type="submit">Create transaction!</button>
            </form>
          </div>
          <div class="span6">
          </div>
        </div>
      </div>

    </div><!-- /switch -->

  </div><!--/RegisterCtrl -->

  </div><!-- /container -->

</body>
</html>
