<!DOCTYPE html>
<html ng-app="bitcoinSecured">
	<head>
	<title>Hello World!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/zepto.js"></script>
	<script type="text/javascript" src="js/bitcoinjs-min.js"></script>
	<script type="text/javascript" src="js/tx.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/main.js"></script>
    <style>
      .hide {
        display: none;
      }
    </style>
</head>

<body>

  <div class="container">

    <div class="masthead">
      <h3>Bitcoin Secured: Online Page</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
              <li><a href="#"><i class="icon-wrench"></i> Instructions</a></li>
              <li><a href="#"><i class="icon-hdd"></i> Downloads</a></li>
              <li><a href="#"><i class="icon-eye-open"></i> About</a></li>
              <li><a href="#"><i class="icon-pencil"></i> Contact</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.navbar -->
    </div>

    <div ng-controller="RegisterCtrl">

      <ul class="nav nav-tabs">
        <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
          <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
        </li>
      </ul>

      <div ng-switch on="selection">

        <div ng-switch-when="Enter Data">
          <div class="row-fluid" ng-controller="FormCtrl">
            <div class="span6">
              <form class="form-transaction" ng-submit="processForm()">
                <h3 class="form-transaction-heading">Transaction information</h3>
                <input ng-model="transaction.address" type="text" class="input-block-level" placeholder="Cold Storage Address">
                <input ng-model="transaction.recipient" type="text" class="input-block-level" placeholder="Recipient Address">
                <input ng-model="transaction.amount" type="text" class="input-block-level" placeholder="Amount in BTC">
                <input ng-model="transaction.fee" type="text" class="input-block-level" placeholder="Transaction Fee in BTC">
                <button class="btn btn-primary" type="submit">Create transaction!</button>
              </form>
            </div><!-- /span -->
            <div class="span6">
              <div id="raw-transaction" ng-init="renderTx">
                <h3>Text to Paste</h3>
                <p>Copy this text, transfer it to the offline computer, and paste it in the offline page of Bitcoin Secured (offline.html)</p>
                <textarea readonly>{{rawtx}}</textarea>
                <div id="qr-code"></div>
              </div>
            </div>
        </div><!-- /formCtrl -->
      </div>

      <div ng-switch-when="Enter Paste">
        <div class="row-fluid" ng-controller="SubmitCtrl">
          <div class="span6">
            <form class="form-transaction" ng-submit="submitTx()">
              <h3 class="form-transaction-heading">Submit Transaction</h3>
              <textarea readonly>{{rawtx}}</textarea>
            </form>
          </div>
          <div class="span6">
            Other side of span
          </div>
        </div>
      </div>

    </div><!-- /switch -->

    <ul class="pager pull-left">
      <li class="" ng-class="{disabled: !hasPreviousStep()}">
        <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Previous Step</a>
      </li>
      <li class="" ng-class="{disabled: !hasNextStep()}">
        <a href="javascript:void(0);" ng-click="incrementStep()">Next Step &rarr;</a>
      </li>
    </ul>

  </div><!--/RegisterCtrl -->

  </div><!-- /container -->

</body>
</html>
